
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Cửa hàng</h2>
                </div>
                <div class="page_link">
                    <a href="/Home/Index">Trang chủ</a>
                    <a href="/Product/Index">Cửa hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
<!--================Category Product Area =================-->
<section class="cat_product_area section_gap">
    <div class="container-fluid p-5">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="bg-light p-2">
                    <div class="d-flex justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <select>
                                <option value="1">Default sorting</option>
                                <option value="2">Default sorting 01</option>
                                <option value="4">Default sorting 02</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <select class="col-12">
                                <option value="1">Show 12</option>
                                <option value="2">Show 14</option>
                                <option value="4">Show 16</option>
                            </select>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <input type="text" class="form-control" id="txtSearch" placeholder="Tìm kiếm" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        </div>

                    </div>
                </div>

                <div class="latest_product_inner">
                    <div class="row" id="data">
                        @*DATA*@
                    </div>
                    <div class="col no-gutters py-4 d-flex flex-column text-center fw-bold col-12 border-top">
                        <div class="dataTables_info" id="dt-material-checkbox_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
                        <div class="dataTables_paginate paging_simple_numbers d-flex justify-content-center" id="dt-material-checkbox_paginate">
                            <ul class="pagination">
                                @*Pagination*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="#">Frozen Fish</a>
                                </li>
                                <li>
                                    <a href="#">Dried Fish</a>
                                </li>
                                <li>
                                    <a href="#">Fresh Fish</a>
                                </li>
                                <li>
                                    <a href="#">Meat Alternatives</a>
                                </li>
                                <li>
                                    <a href="#">Fresh Fish</a>
                                </li>
                                <li>
                                    <a href="#">Meat Alternatives</a>
                                </li>
                                <li>
                                    <a href="#">Meat</a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Product Brand</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="#">Apple</a>
                                </li>
                                <li>
                                    <a href="#">Asus</a>
                                </li>
                                <li class="active">
                                    <a href="#">Gionee</a>
                                </li>
                                <li>
                                    <a href="#">Micromax</a>
                                </li>
                                <li>
                                    <a href="#">Samsung</a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Color Filter</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                <li>
                                    <a href="#">Black</a>
                                </li>
                                <li>
                                    <a href="#">Black Leather</a>
                                </li>
                                <li class="active">
                                    <a href="#">Black with red</a>
                                </li>
                                <li>
                                    <a href="#">Gold</a>
                                </li>
                                <li>
                                    <a href="#">Spacegrey</a>
                                </li>
                            </ul>
                        </div>
                    </aside>

                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Price Filter</h3>
                        </div>
                        <div class="widgets_inner">
                            <div class="range_item">
                                <div id="slider-range"></div>
                                <div class="">
                                    <label for="amount">Price : </label>
                                    <input type="text" id="amount" readonly />
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Category Product Area =================-->
@section Script{
    <script>
    var lastPage = 1;
        var pageCurrent = 1;
        let formatter = new Intl.NumberFormat('de-DE', { style: 'currency', currency: 'VND' });
        let money = new Intl.NumberFormat({ style: 'currency', currency: 'VND' });

        $(document).ready(function () {
            LoadData(null, 1);
            $("body").on("click", ".pagination li a", function (event) {
                event.preventDefault();
                var page = $(this).attr('data-page');
                Search(page);
            });
        });
        function LoadData(txtSearch,page) {
            $.ajax({
                url: "/Product/GetAll",
                type: "GET",
                data: { txtSearch: txtSearch, page: page },
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result.data, function (key, item) {
                        var discount = '';
                        if (item.Discount != 0) {
                            discount = '<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>' + item.Discount + '%</span></div>';
                            money = '<span class="mr-4">' + formatter.format(item.Price * (100 - item.Discount) / 100) + '</span><del>' + formatter.format(item.Price) + '</del>';
                        }
                        else {
                            discount = '';
                            money = '<span class="mr-4">' + formatter.format(item.Price) + '</span>';
                        }

                        html += '<div class="col-lg-4 col-md-6 py-2">';
                        html += '<div class="single-product d-flex flex-column m-2 card h-100">';
                        html += '<div class="product-img" style="height:60% !important">';
                        html += '<img class="card-img-top m-2"';
                        html += 'src="/wwwroot/ImageProducts/' + item.Image + '"';
                        html += ' alt="" style="height:80%;width:80%" href="/Product/Detail/' + item.ID_Product + '"/>';
                        html += '<div class="p_icon">';
                        html += '<a href="/Product/Detail/' + item.ID_Product + '">';
                        html += '<i class="ti-eye"></i>';
                        html += '</a>';
                        html += ' <a onclick="AddCart(' + item.ID_Product + ');">';
                        html += '<i class="ti-shopping-cart"></i>';
                        html += '</a>';
                        html += '</div>';
                        html += '</div>';
                        html += '<div class="product-btm" style="height:40% !important">';
                        html += '<a href="/Product/Detail/' + item.ID_Product + '" class="d-block">';
                        html += '<h4>' + item.Name + '</h4>';
                        html += '</a>';
                        html += '<div class="mt-3">';
                        html += money;
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';
                        html += '</div>';

                    });
                    $('#data').html(html);
                    //create pagination
                    var pagination_string = "";
                    pageCurrent = result.pageCurrent;
                    var numSize = result.numSize;
                    lastPage = numSize;

                    $('#dt-material-checkbox_info').text(result.data.length + '/' + result.all.length);

                    //create button previous
                    if (pageCurrent > 1) {
                        var pagePrevious = pageCurrent - 1;
                        pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + pagePrevious + '>Previous</a></li>';
                    }

                    for (i = 1; i <= numSize; i++) {
                        if (i == pageCurrent) {
                            pagination_string += '<li class="page-item active"><a href="" class="page-link" data-page=' + i + '>' + pageCurrent + '</a></li>';
                        } else {
                            pagination_string += '<li class="page-item"><a href="" class="page-link" data-page=' + i + '>' + i + '</a></li>';
                        }
                    }

                    //create button next
                    if (pageCurrent > 0 && pageCurrent < numSize) {
                        var pageNext = pageCurrent + 1;
                        pagination_string += '<li class="page-item"><a href="" class="page-link"  data-page=' + pageNext + '>Next</a></li>';
                    }
                    $(".pagination").html(pagination_string);

                },
                error: function (errormessage) {
                    toastr.error(errormessage.responseText);
                }
            });
        }
        function Check() {
            if (@Session["RoleAcc"] != 2) {
                toastr.error('Bạn cần đăng nhập!');
                return false;
            }
            return true;
        }
        function AddCart(id) {
            if (Check() == false)
                return false;
            else {
                let cart = {};
                cart["ID_Product"] = id;
                cart["Amount"] = 1;
                cart["ID_Account"] = @Session["ID_Account"];

                $.ajax({
                    url: "/Cart/Create",
                    data: JSON.stringify(cart),
                    type: "POST",
                    processData: false,
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        if (result) {
                            toastr.success('Thêm giỏ hàng thành công!');
                        }
                        else {
                            toastr.error('Thêm không thành thành công!');
                            return false;
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                        toastr.error('Thêm không thành thành công!');
                    }
                });
            }
        }
        const Search = (page) => {
            var txtSearch = $("#txtSearch").val();
            if (txtSearch != "") {
                LoadData(txtSearch, page)
            }
            else {
                LoadData(null, page);
            }
        }
        $('#txtSearch').keyup(() => {
            Search(1);
        });
        $('#txtSearch').keydown(() => {
            Search(1);
        });
    </script>
}